.advantages {
  background-color: $color-bg-grey;
}

.advantages__container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 100px;

  h2 {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
    font-family: $font-bebas-bold;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  .advantages__list {
    @include list-reset;
    padding: 0 60px;
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    margin-bottom: 120px;
    width: 34%;
    display: flex;
    flex-direction: row;
  }

  .advantages__item--one {
    position: relative;
    margin-bottom: 154px;
    padding-left: 24px;
    order: 1;
  }

  .advantages__item--two {
    padding-left: 24px;
    margin-bottom: 120px;
    order: 3;
  }

  .advantages__item--three {
    position: relative;
    margin-bottom: 154px;
    padding-left: 16px;
    order: 2;
  }

  .advantages__item--four {
    padding-left: 16px;
    margin-bottom: 120px;
    order: 4;
  }
}

.advantages__wrapper-center {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
  background-color: $color-bg-blue;

  p {
    margin: 0;
    padding: 0;
  }

  .advantages__card-num {
    margin-bottom: 2px;
    font-family: $font-roboto-bold;
    font-size: 74px;
    line-height: 70px;
  }

  .advantages__card-text {
    margin-bottom: 32px;
    font-family: $font-roboto-bold;
    font-size: 26px;
    line-height: 39px;
  }

  .advantages__card-info {
    width: 172px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.advantages__wrap-num {
  margin-right: 35px;

  &--one {
    margin-left: 3px;
  }

  &--two {
    margin-right: 30px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    margin-top: 2px;
  }
}

.advantages__wrap-text {
  width: 230px;

  &--one {
    width: 180px;
  }

  span {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-family: $font-roboto-bold;
    font-size: 22px;
    line-height: 42px;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: $font-roboto-light;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper-center {
    position: absolute;
    width: 242px;
    height: 307px;
    top: 33.4%;
    left: 39.5%;
  }

  .advantages__item--one {
    &::before {
      content: "";
      position: absolute;
      bottom: -80px;
      left: 0;
      width: 340px;
      height: 2px;
      background-color: $color-before-red;
    }
  }

  .advantages__item--three {
    &::before {
      content: "";
      position: absolute;
      bottom: -80px;
      right: 0;
      width: 340px;
      height: 2px;
      background-color: $color-before-red;
    }
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .advantages__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 45px;
    padding-top: 100px;
    padding-bottom: 40px;

    h2 {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: 42px;
    }

    .advantages__list {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .advantages__item {
      width: 322px;
    }

    .advantages__item--one {
      padding-left: 0;
      margin-bottom: 322px;

      img {
        width: 84px;
        height: 43px;
      }
    }

    .advantages__item--two {
      padding-left: 0;
      margin-bottom: 50px;

      img {
        width: 85px;
        height: 43px;
      }
    }

    .advantages__item--three {
      padding-left: 0;
      margin-bottom: 322px;
      margin-left: calc(100% - 322px * 2);

      img {
        width: 55px;
        height: 43px;
      }
    }

    .advantages__item--four {
      padding-left: 0;
      margin-bottom: 0;
      margin-left: calc(100% - 322px * 2);

      img {
        width: 53px;
        height: 43px;
      }
    }
  }

  .advantages__container-center {
    position: absolute;
    top: 40.3%;
    margin-left: -44px;
    padding: 0 21%;
    width: 100%;
  }

  .advantages__wrapper-center {
    padding-top: 33px;
    position: static;
    width: 100%;
    top: 30%;
    min-height: 239px;

    .advantages__card-num {
      margin-left: -5px;
      margin-bottom: 0;
      line-height: 72px;
    }

    .advantages__card-text {
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 33px;
    }
  }

  .advantages__wrap-num {
    margin-top: 5px;

    &--one {
      margin-right: 32px;
    }
  }

  .advantages__wrap-text {
    span {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 32px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .advantages__container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 70px;
    padding-bottom: 50px;

    h2 {
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 32px;
    }

    .advantages__list {
      padding: 0;
      width: 100%;
      flex-direction: column;
    }

    .advantages__item {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--one {
        margin-bottom: 38px;

        img {
          margin-left: 4px;
          width: 84px;
          height: 43px;
        }
      }

      &--two {
        margin-bottom: 40px;

        img {
          width: 85px;
          height: 43px;
        }
      }

      &--three {
        margin-bottom: 327px;

        img {
          margin-left: 15px;
          width: 55px;
          height: 43px;
        }
      }

      &--four {
        margin-bottom: 10px;

        img {
          margin-left: 15px;
          width: 53px;
          height: 43px;
        }
      }
    }
  }

  .advantages__wrapper-center {
    position: absolute;
    padding-top: 44px;
    width: 100%;
    height: 239px;
    top: 43.6%;
    left: 0;

    .advantages__card-num {
      margin-left: -5px;
      margin-bottom: 0;
      line-height: 64px;
    }

    .advantages__card-text {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 33px;
    }
  }

  .advantages__wrap-num {
    text-align: center;
    margin-bottom: 4px;

    p {
      margin-left: 10px;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .advantages__wrap-text {
    text-align: center;
    margin-left: -22px;

    span {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    &--comfort {
      width: 226px;
    }
  }
}
