.cards {
  position: relative;
  background-color: $color-bg-grey;
}

@media (min-width: $desktop-width) {
  .cards::before {
    position: absolute;
    content: "";
    right: -2.5%;
    bottom: -24.5%;
    width: 321px;
    height: 500px;
    background-image: url("../../img/bg-equipped-fitness-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-equipped-fitness-desktop@2px.png") 321px 500px;
    }
  }
}

.cards__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 122px 0;
  padding-bottom: 58px;
}

.cards__container-head-and-month {
  margin-bottom: 36px;

  h2 {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-family: $font-bebas-bold;
    text-align: center;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  ul {
    @include list-reset;
    position: relative;
    width: 342px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 342px;
      height: 2px;
      background-color: $color-border;
    }
  }

  button {
    @include button-reset;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-bottom: 12px;
    color: $color-font-light-blue;
    font-size: 20px;
    line-height: 30px;
    outline: none;

    &:hover,
    &:focus {
      padding-bottom: 10px;
      color: $color-dark-blue;
      border-bottom: 2px solid $color-border-hover;
    }
  }
}

.cards__wrapper {
  @include list-reset;
  max-width: 1160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    position: relative;
    width: 31%;
    height: 448px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    text-align: center;
    background-color: $color-white;
    outline-style: none;

    &:hover,
    &:focus {
      background-image: url("../../img/border-card-desktop@1px.png");
      background-repeat: no-repeat;
    }
  }

  li:hover > a,
  li:focus > a {
    padding: 25px 0;
    color: $color-white;
    border: none;
    background-color: $color-red;
    background-image: url("../../img/button-cards-desktop@1px.png");
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: $font-roboto-bold;
    font-size: 26px;
    line-height: 29px;
  }

  p {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: $color-light-blue;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    width: 205px;
    height: 65px;
    padding: 24px 0;
    text-align: center;
    font-family: $font-roboto-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $color-dark-blue;
    cursor: pointer;
  }

  span {
    margin: 0;
    margin-left: -44px;
    margin-bottom: 34px;
    padding: 0;
    font-family: $font-roboto-bold;
    font-size: 60px;
    line-height: 90px;
    color: $color-bright-blue;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 42px;
      top: 214px;
      right: 98px;
      background-image: url("../../img/ruble@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/ruble@2x.png") 30px 42px;
      }
    }
  }
}

.cards__item {
  min-width: 205px;
  display: flex;
  flex-direction: column;
}

.cards__with-trainer {
  background-image: url("../../img/5000@1x.png");
  background-size: 203px 69px;
  background-repeat: no-repeat;
  background-position: 55% 62%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/5000@2x.png") 203px 69px;
  }
}

.cards__day {
  background-image: url("../../img/1700@1x.png");
  background-size: 203px 69px;
  background-repeat: no-repeat;
  background-position: 55% 62%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/1700@2x.png") 203px 69px;
  }
}

.cards__full {
  background-image: url("../../img/2700@1x.png");
  background-size: 203px 69px;
  background-repeat: no-repeat;
  background-position: 55% 62%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/2700@2x.png") 203px 69px;
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .cards::before {
    position: absolute;
    content: "";
    right: -4.5%;
    bottom: -1%;
    width: 381px;
    height: 500px;
    background-image: url("../../img/bg-equipped-fitness-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-equipped-fitness-tablet@2x.png") 381px 500px;
    }
  }

  .cards__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 45px;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .cards__container-head-and-month {
    margin-bottom: 44px;

    h2 {
      margin-bottom: 25px;
      font-size: 42px;
      line-height: 42px;
    }

    ul {
      width: 332px;
      height: 44px;

      &::before {
        width: 332px;
      }
    }

    button {
      height: 44px;
      font-size: 18px;
      line-height: 27px;
    }
  }

  .cards__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 442px;
      margin-bottom: 40px;
      padding-top: 64px;

      &:hover,
      &:focus {
        background-image: url("../../img/border-card-tablet@1px.png");
        background-position: 10% 10%;
      }
    }

    li:hover > a,
    li:focus > a {
      background-color: $color-red;
      background-image: url("../../img/button-cards-tablet@1px.png");
    }

    span::before {
      top: 215px;
      right: 138px;
    }
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .cards__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 68px;
    padding-bottom: 22px;
  }

  .cards__container-head-and-month {
    margin-bottom: 44px;

    h2 {
      margin-bottom: 17px;
      font-size: 32px;
      line-height: 32px;
    }

    ul {
      width: 290px;
      height: 44px;

      &::before {
        width: 290px;
      }
    }

    button {
      height: 44px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .cards__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 290px;
      height: 384px;
      margin-bottom: 35px;
      padding-top: 40px;
      outline-style: none;

      &:hover,
      &:focus {
        background-image: url("../../img/border-card-mobile@1px.png");
      }
    }

    li:hover > a,
    li:focus > a {
      background-color: $color-red;
      background-image: url("../../img/button-cards-mobile@1px.png");
    }

    h3 {
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
      font-size: 22px;
      line-height: 24px;
    }

    p {
      margin-bottom: 56px;
    }

    span {
      margin-left: -30px;
      margin-bottom: 28px;
      font-size: 48px;
      line-height: 72px;

      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 33px;
        top: 171px;
        right: 77px;
        background-image: url("../../img/ruble-mobile.png");
      }
    }
  }

  .cards__with-trainer {
    background-image: url("../../img/5000-mobile.png");
    background-size: 175px 59px;
    background-position: 53% 58%;
  }

  .cards__day {
    background-image: url("../../img/1700-mobile.png");
    background-size: 175px 59px;
    background-position: 53% 58%;
  }

  .cards__full {
    background-image: url("../../img/2700-mobile.png");
    background-size: 175px 59px;
    background-position: 53% 58%;
  }
}
