.cards {
  background-color: $color-bg-grey;
}

.cards__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 122px 0;
}

.cards__container-head-and-month {
  margin-bottom: 36px;

  h2 {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-family: $font-bebas-bold;
    text-align: center;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  ul {
    @include list-reset;
    position: relative;
    width: 342px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 342px;
      height: 2px;
      background-color: $color-border;
    }
  }

  button {
    @include button-reset;
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    padding-bottom: 12px;
    color: $color-font-light-blue;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      padding-bottom: 10px;
      color: $color-dark-blue;
      border-bottom: 2px solid $color-border-hover;
    }
  }
}

.cards__wrapper {
  ul {
    @include list-reset;
    max-width: 1160px;
    width: 100%;
    height: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    position: relative;
    width: 31.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    text-align: center;
    background-color: $color-white;

    &:hover {
      background-image: url("../../img/border-card@1px.png");
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: $font-roboto-bold;
    font-size: 26px;
    line-height: 29px;
  }

  .cards__info {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: $color-light-blue;
  }
}

.cards__price {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: -44px;
  margin-bottom: 34px;
  padding: 0;
  font-family: $font-roboto-bold;
  font-size: 60px;
  line-height: 90px;
  color: $color-bright-blue;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 42px;
    top: 214px;
    right: 98px;
    background-image: url("../../img/ruble.svg");
  }
}

.cards__item {
  display: flex;
  flex-direction: column;
}

.cards__with-trainer {
  background-image: url("../../img/5000.svg");
  background-size: 218px 75px;
  background-repeat: no-repeat;
  background-position: 40% 45%;
}

.cards__day {
  background-image: url("../../img/1700.svg");
  background-size: 218px 75px;
  background-repeat: no-repeat;
  background-position: 40% 45%;
}

.cards__full {
  background-image: url("../../img/2700.svg");
  background-size: 218px 75px;
  background-repeat: no-repeat;
  background-position: 40% 45%;
}

.cards__wrapper a {
  display: inline-block;
  vertical-align: middle;
  width: 205px;
  height: 65px;
  padding: 24px 0;
  text-align: center;
  font-family: $font-roboto-bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-dark-blue;

  &:hover {
    color: $color-white;
    background-image: url("../../img/button-cards@1px.png");
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .cards__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 45px;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .cards__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
