.comments {
  width: 100%;
  background-color: $color-white;
}

.comments__container {
  min-width: 0;
  max-width: 1160px;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 120px;
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: $font-bebas-bold;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.comments__slider {
  position: relative;
  min-width: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comments__slider-item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 50px 60px;
  padding-top: 55px;
  width: 560px;
  height: 242px;
  display: flex;
  color: $color-white;
  background-color: $color-bg-blue;

  img {
    margin-top: 5px;
    margin-right: 30px;
  }
}

.comments__wrap {
  width: 330px;
  text-align: left;

  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: $color-white;
    font-family: $font-roboto-bold;
    font-size: 20px;
    line-height: 30px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
  }
}

.comments__slider .slick-list {
  overflow: hidden;
  width: 560px;
}

.comments__slider .slick-track {
  display: flex;
  height: 242px;
}

.comments__slider .slick-arrow {
  @include button-reset;
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  outline: none;
}

.comments__slider .slick-prev {
  left: 21.5%;
  width: 24px;
  height: 24px;
  border-top: 1px solid $color-arrow;
  border-right: 1px solid $color-arrow;
  transform: rotate(-135deg);
}

.comments__slider .slick-next {
  right: 21.5%;
  width: 24px;
  height: 24px;
  border-top: 1px solid $color-arrow;
  border-right: 1px solid $color-arrow;
  transform: rotate(45deg);
}

.comments--nojs .comments__slider {
  visibility: visible;
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .comments__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 45px;
    padding-bottom: 100px;

    h2 {
      margin-bottom: 40px;
      text-align: center;
      font-size: 42px;
      line-height: 42px;
    }
  }

  .comments__slider .slick-prev {
    left: 0.5%;
  }

  .comments__slider .slick-next {
    right: 0.5%;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .comments__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 15px;
    padding-bottom: 70px;

    h2 {
      margin-bottom: 43px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  .comments__slider-item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-top: 40px;
    width: 226px;
    height: 335px;
    display: flex;
    flex-direction: column;

    img {
      margin: 0;
      margin-left: 25px;
      width: 68px;
      height: 68px;
    }
  }

  .comments__wrap {
    span {
      margin-top: -64px;
      margin-left: 105px;
      margin-bottom: 20px;
      width: 65px;
    }

    p {
      margin-left: 10px;
      text-align: center;
      width: 176px;
    }
  }

  .comments__slider .slick-track {
    height: 335px;
  }

  .comments__slider .slick-list {
    width: 226px;
  }

  .comments__slider .slick-arrow {
    top: 48%;
  }

  .comments__slider .slick-prev {
    width: 15px;
    height: 15px;
    left: 0.5%;
  }

  .comments__slider .slick-next {
    width: 15px;
    height: 15px;
    right: 0.5%;
  }
}
