.contact {
  display: flex;
  width: 100%;
}

.contact__form-wrap {
  width: 50%;
  color: $color-white;
  background-color: $color-dark-blue;
}

form {
  padding-top: 63px;
  padding-right: 170px;
  padding-bottom: 68px;
  width: 580px;
  margin-left: auto;

  h2 {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-family: $font-bebas-bold;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
  }

  div {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    color: $color-white;
  }

  input {
    padding-left: 0;
    padding-bottom: 8px;
    width: 190px;
    font-size: 14px;
    line-height: 16px;
    color: $color-white;
    border: 0;
    border-radius: none;
    border-bottom: 1px solid $color-border-contact;
    background-color: $color-dark-blue;
    outline: none;

    &::placeholder {
      color: $color-white;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  button {
    @include button-reset;
    width: 410px;
    height: 52px;
    font-family: $font-roboto-bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 3px solid $color-white;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.contact__contacts-wrap {
  width: 50%;
  background-color: $color-white;
  border-top: 1px solid $color-border-contact;

  .contacts {
    padding-top: 63px;
    padding-left: 120px;
    margin-right: auto;
  }

  .contacts__head {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: $font-bebas-bold;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
  }

  ul {
    @include list-reset;
    position: relative;
    width: 470px;
    height: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::before {
      position: absolute;
      content: "";
      top: 5%;
      left: 49%;
      width: 1px;
      height: calc(100% - 30px);
      background-color: $color-border-contact;
    }
  }

  li {
    margin-bottom: 16px;
    width: 180px;
  }

  .contacts__item {
    &--one {
      order: 1;
    }

    &--two {
      order: 3;
    }

    &--three {
      order: 2;
    }

    &--four {
      order: 4;
    }
  }

  .contacts__head-item {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-family: $font-roboto-bold;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
  }

  a {
    color: $color-dark-blue;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .contact {
    flex-direction: column;
  }

  .contact__form-wrap {
    width: 100%;
  }

  form {
    padding: 0;
    padding-top: 72px;
    padding-right: 30px;
    margin: 0 auto;
    width: 501px;

    h2 {
      margin-bottom: 34px;
      font-size: 42px;
      line-height: 42px;
    }

    input {
      width: 205px;
    }

    button {
      width: 100%;
      margin-bottom: 70px;
    }
  }

  .contact__contacts-wrap {
    width: 100%;

    .contacts {
      padding: 0;
      padding-top: 69px;
      padding-left: 32px;
      padding-bottom: 42px;
      margin: 0 auto;
      width: 570px;
    }

    ul {
      margin: 0;
      width: 100%;

      &::before {
        left: 50%;
        height: calc(100% - 34px);
      }
    }

    li {
      margin-bottom: 20px;
      width: 225px;
    }

    .contacts__head {
      font-size: 42px;
      line-height: 42px;
    }

    .contacts__head-item {
      font-size: 20px;
      line-height: 30px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }

    a {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .contact {
    flex-direction: column;
  }

  .contact__form-wrap {
    width: 100%;
  }

  form {
    margin: 0 auto;
    padding: 70px 15px 69px;
    padding-bottom: 50px;
    width: 100%;

    h2 {
      margin-bottom: 38px;
      font-size: 32px;
      line-height: 32px;
    }

    div {
      margin-bottom: 7px;
      display: flex;
      flex-direction: column;
    }

    input {
      width: 100%;
      margin-bottom: 33px;
      border-radius: 0;
      appearance: none;
    }

    button {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .contact__contacts-wrap {
    width: 100%;

    .contacts {
      margin: 0 auto;
      padding: 70px 15px 42px;
      width: 100%;
    }

    ul {
      margin: 0;
      width: 100%;

      &::before {
        display: none;
      }
    }

    li {
      margin-bottom: 20px;
      width: 225px;
    }

    .contacts__item {
      &--one {
        order: 1;
      }

      &--two {
        order: 2;
      }

      &--three {
        order: 3;
      }

      &--four {
        order: 4;
      }
    }

    .contacts__head {
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 32px;
    }

    .contacts__head-item {
      font-size: 20px;
      line-height: 30px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }

    a {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
