.trainers {
  background-color: $color-white;
}

.trainers__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 120px;

  h2 {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: $font-bebas-bold;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.slider {
  position: relative;
  min-width: 0;
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .slider__item {
    margin-bottom: 20px;
    outline-style: none;
  }
}

.slider__wrap {
  position: relative;
  display: block;
  height: 294px;

  h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 6%;
    left: 25%;
    font-family: $font-roboto-bold;
    font-size: 18px;
    line-height: 27px;
    color: $color-white;
  }
}

.slider__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 294px;
  padding-top: 50px;
  text-align: center;
  color: $color-white;
  background-color: $color-bg-overlay;

  p:first-child {
    margin: 0;
    margin-bottom: -2px;
    padding: 0;
    color: $color-white;
    font-family: $font-roboto-bold;
    font-size: 18px;
    line-height: 27px;
  }

  p {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: $color-font-overlay;
  }

  ul {
    margin-left: 32px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }

  li {
    width: 147px;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    list-style-type: disc;
  }
}

.slider__item:hover .slider__overlay,
.slider__item:focus .slider__overlay {
  display: block;
}

.slider__item:hover .slider__name,
.slider__item:focus .slider__name {
  display: none;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
  justify-content: space-between;
}

.slider .slick-active:not(:first-child) {
  margin-left: 12px;
}

.slider .slick-arrow {
  @include button-reset;
  position: absolute;
  top: 43%;
  z-index: 10;
  font-size: 0;
  outline: none;
}

.slider .slick-prev {
  left: -4.5%;
  width: 24px;
  height: 24px;
  border-top: 1px solid $color-arrow;
  border-right: 1px solid $color-arrow;
  transform: rotate(-135deg);
}

.slider .slick-next {
  right: -4.5%;
  width: 24px;
  height: 24px;
  border-top: 1px solid $color-arrow;
  border-right: 1px solid $color-arrow;
  transform: rotate(45deg);
}

@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .trainers__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 45px;
    padding-bottom: 80px;

    h2 {
      margin-bottom: 40px;
      text-align: center;
      font-size: 42px;
      line-height: 42px;
    }
  }

  .slider {
    width: 557px;
    margin: 0 auto;
  }

  .slider__wrap {
    width: 277px;

    img {
      width: 277px;
      object-fit: cover;
    }
  }

  .slider__overlay {
    width: 277px;
  }

  .slider .slick-active:not(:first-child) {
    margin-left: 0;
  }

  .slider .slick-active:nth-child(odd) {
    width: 277px;
    margin-left: -20px;
    margin-right: 25px;
  }

  .slider .slick-arrow {
    top: 43%;
  }

  .slider .slick-prev {
    left: -10%;
    width: 24px;
    height: 24px;
  }

  .slider .slick-next {
    right: -10%;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .trainers__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    padding-bottom: 30px;
    text-align: center;

    h2 {
      margin-bottom: 23px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  .slider {
    min-width: 0;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    justify-content: center;
  }

  .slider__item {
    width: 230px;
    height: 274px;
    margin-right: 10px;
  }

  .slider__wrap {
    width: 230px;
    height: 274px;

    img {
      width: 230px;
      height: 274px;
      object-fit: cover;
    }
  }

  .slider__overlay {
    width: 230px;
    height: 274px;

    ul {
      margin-left: 10px;
    }
  }

  .trainers__container .slick-slider {
    width: 260px;
    margin: 0 auto;
  }

  .slider .slick-active:not(:first-child) {
    margin-left: 0;
  }

  .slider .slick-arrow {
    top: 41.5%;
  }

  .slider .slick-prev {
    left: -5%;
    width: 14px;
    height: 14px;
  }

  .slider .slick-next {
    right: -5%;
    width: 14px;
    height: 14px;
  }
}
