$mobile-width-min: 320px;
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: rgba(255, 255, 255, 1);
$color-red: rgba(237, 2, 51, 1);
$color-footer: rgba(3, 10, 26, 1);
$color-dark-blue: rgba(16, 38, 84, 1);
$color-grey-dark-blue: rgba(16, 38, 84, 0.5);
$color-bg-blue: rgba(28, 51, 116, 1);
$color-bg-grey: rgba(248, 249, 252, 1);
$color-bright-blue: rgba(16, 58, 174, 1);
$color-light-blue: rgba(73, 90, 125, 1);
$color-light-grey: rgba(232, 232, 232, 1);
$color-font-light-blue: rgb(132, 143, 168);
$color-border: rgba(120, 120, 120, 0.2);
$color-border-hover: rgba(209, 10, 66, 1);
$font-bebas-bold: "BebasNeueBold", "Impact", sans-serif;
$font-bebas-regular: "BebasNeueRegular", "Impact", sans-serif;
$font-roboto: "RobotoCondensed", "Arial Narrow", sans-serif;
$font-roboto-bold: "RobotoCondensedBold", "Arial Narrow", sans-serif;
$font-roboto-light: "RobotoCondensedLight", "Arial Narrow", sans-serif;
